<div class="card-container">
  <div class="header">
    <h1 class="logo">Bingo!</h1>
    <p class="sub-title">Noite da Sopa 2025</p>
  </div>

  <div class="last-number-container">
    <div id="last-number-drawn">
      <p>{{ this.lastNumberDrawn() }}</p>
    </div>
    <input
      type="number"
      #inputNumber
      id="input-number"
      (keydown)="this.drawNumber($event, inputNumber)"
    />
  </div>
</div>

<div class="grid-container">
  <div class="grid">
    @for (number of this.numbers; track $index) {
      <div
        class="cell"
        [class.drawn]="number.isDrawn"
        [class.last-drawn]="number.num == this.lastNumberDrawn()"
      >
        {{ number.num }}
      </div>
    }
  </div>

  <div class="clean-button-container">
    <button (click)="this.clear()">Limpar</button>
  </div>
</div>
