:host {
  display: flex;
  flex-flow: column nowrap;
  width: 100dvw;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}

.card-container {
  text-align: center;
  padding: 2rem;
  width: 100%;
}

.logo {
  font-family: "Galada", cursive;
  font-size: 3.6rem;
  line-height: 3rem;
  color: #ffcc00;
  background-clip: text;
  text-shadow:
    -3px -3px 0 #493b26,
    -3px 0px 0 #493b26,
    -3px 3px 0 #493b26,
    0px -3px 0 #493b26,
    0px 3px 0 #493b26,
    3px -3px 0 #493b26,
    3px 0px 0 #493b26,
    3px 3px 0 #493b26;
}

.sub-title {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: bold;
  color: #493b26;
}

.grid-container {
  display: flex;
  flex-flow: column;
  gap: 8px;
  height: calc(100% - 32px);
}

.grid {
  width: 100%;
  height: calc(100% - 32px);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 4px;

  .cell {
    width: 100%;
    aspect-ratio: 1;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    color: #333;
    font-size: 1.4rem;
    border: 3px solid #f1f1f1;

    &.drawn {
      background-color: #ffcc00;
      border: 3px solid #493b26;
      color: #493b26;
      font-weight: bold;
    }

    &.last-drawn {
      background: linear-gradient(-45deg, #ff3300, #ffe997);
      background-size: 1000% 1000%;
      animation: gradient 1.5s ease-in-out infinite;
    }

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
}

.last-number-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  margin-top: 24px;
}

#last-number-drawn {
  user-select: none;
  border: 3px solid #493b26;
  border-radius: 8px;
  color: #493b26;
  font-weight: bolder;
  background-color: #ffcc00;
  height: 112px;
  width: 128px;
  font-size: 48px;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#input-number {
  margin-top: 4px;
  all: unset;
  text-decoration: none;
  border-bottom: 1px solid #dfdfdf;
  color: #493b26;
  width: 32px;
  caret-color: #ebebeb;
  transition: width 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:focus {
    border-bottom: 1px solid #493b26;
    width: 64px;
  }
}

.clean-button-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
