<div class="card-container">
  <div class="header">
    <p class="sub-title">Noite da Sopa 2025</p>
  </div>

  <div class="last-number-container">
    <div id="last-number-drawn">
      <p>{{ this.lastNumberDrawn() }}</p>
    </div>
    <input
      type="number"
      #inputNumber
      id="input-number"
      (keydown)="this.onPressEnterOnCell($event, inputNumber.value)"
    />
  </div>
</div>

<div class="grid-container">
  <div class="grid grid-cols-5">
    @for (column of this.columns(); track $index) {
      <div class="flex flex-col">
        <div class="cell header">{{ column.columnId }}</div>
        @for (number of column.numbers; track $index) {
          <div
            class="cell"
            [class.drawn]="number.isDrawn"
            [class.last-drawn]="number.num == this.lastNumberDrawn()"
            (click)="this.drawNumber(number.num, true)"
          >
            {{ number.num }}
          </div>
        }
      </div>
    }
  </div>
</div>

<div class="clean-button-container">
  <button (click)="this.clear()">Limpar</button>
</div>
